html {
  box-sizing: border-box;
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: grid;
  grid-template-areas:
  "masthead masthead toolbar"
  "main     main     sidebar"
  "footer   footer   sidebar";
}


main {
  display: contents;
  /* remove child elements out of this parent element to be placed around on the grid (such as the figures) */
}

/* main {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
} */

.pano {
  grid-area: value;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: -1;
}

img {
  width: 100%;
}

header {
  display: contents;
  font-family: "Patua One", sans-serif;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1rem;
}

.banner img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.logo {
  width: 14rem;
  grid-column: 2;
  z-index: 1;
  margin-left: 1rem;
  margin-right: 1rem;
}

.main figure {
  grid-column: 2;
  grid-row: 2;
  z-index: 1;
}

h2 {
  font-family: "Patua One";
  color: #30658d;
}

p {
  font-family: Georgia;
  color: #000;
}

ul {
  /* USE FLEXBOX CSS HERE */
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 14rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

li {
  /* display: inline-block; Not necessary with CSS Grid */
  padding: 1rem;
}

a {
  font-size: 2rem;
  color: #fff;
}
