html {
  box-sizing: border-box;
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: grid;
  padding: 1rem;
  grid-gap: 1rem;
  grid-template-areas:
    "masthead masthead"
    "main main2";
  grid-template-columns: 1fr 1fr;
}

main {
  display: contents;
}

.pano {
  grid-area: masthead;
}

img {
  width: 100%;
}

header {
  display: contents;
  font-family: "Patua One", sans-serif;
}

.banner img {
  grid-area: masthead;
}

.logo {
  width: 14rem;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  z-index: 1;
  margin: 0 0 1rem 1rem;
}

figure:first-child {
  grid-area: main;
  margin: 0;
}

figure:last-child {
  grid-area: main2;
  margin: 0;
}

h2 {
  font-family: "Patua One";
  color: #30658d;
}

p {
  font-family: Georgia;
  color: #000;
}

nav {
  grid-column: 2/-1;
  grid-row: 1;
}

ul {
  /* USE FLEXBOX CSS HERE */
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 14rem;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

li {
  padding: 1rem;
}

a {
  font-size: 2rem;
  color: #fff;
}
